body{
    background-color:#eee;
    font-family: 'Roboto', sans-serif;
}

nav{
    text-align: center;
    padding-bottom: 4em;
    width: 100%;
}

.container{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

@media (max-width:800px){
    
    .container{
        width: 90vw;
        overflow-x: hidden;
    }

}
@media (max-width:500px){
    
    .container{
        width: 95vw;
    }
    
    .nav{
        width: 100vw;
        padding: 0.1;
    }
    button{
        width: 100%;
        border-radius:0px;
        padding: 0.1em;
        margin-top: 0.2em;
    }
    button.mixitup-control-active{
        outline: none;
    }
    
    .card{
        width: 90vw;
    }
    
    .card{
        margin-left: 5%;
        margin-right: 50%;
    }
}

.content{
    display: block;
}
button.mixitup-control-active{
    background-color: black;
    color: white;
    box-shadow: 0px 7px 12px rgba(0,0,0, 0.45);
}

button{
    vertical-align: top;
    border: none;
    background-color: white;
    color: #222;
    padding: 0.4em;
    border-radius: 10px;
    font-size: 1.5em;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.16), 0px 2px 10px rgba(0,0,0, 0.12);
    transition: all 0.4s;
    cursor: pointer;
}

.card{
    display: inline-block;
    padding: 7px;
    background-color:#222;
    border-radius: 25px;
    width: 300px;
    height: 350px;
    text-align: center;
    color: white;
    font-size: 1em;
    margin-top: 1em;
    margin-right: 1em; 
    box-shadow: 0px 7px 12px rgba(0,0,0, 0.45);
}

.card img{
    max-width: 80%;
    max-height:80%;
}

